@media (max-width: 1024px) {
    html.pushbar_locked {
        overflow: hidden;
        -ms-touch-action: none;
        touch-action: none
    }

    .pushbar_locked .pushbar_main_content.pushbar_blur {
        filter: blur(15px)
    }

    .pushbar_overlay {
        z-index: -999;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        will-change: opacity;
        transition: opacity .5s ease;
        opacity: 0;
        background: rgba(247, 240, 229, .8)
    }

    html.pushbar_locked .pushbar_overlay {
        opacity: .6;
        z-index: 1
    }

    [data-pushbar-id] {
        z-index: 1000;
        position: fixed;
        overflow-y: auto;
        will-change: transform;
        transition: transform .5s ease;
        background: #f0e7d7
    }

    [data-pushbar-direction=right][data-pushbar-id],
    [data-pushbar-direction=right][data-pushbar-id] {
        top: 0;
        width: 300px;
        max-width: 100%;
        height: 100%
    }

    [data-pushbar-direction=top][data-pushbar-id],
    [data-pushbar-direction=bottom][data-pushbar-id] {
        left: 0;
        width: 100%;
        min-height: 150px
    }

    [data-pushbar-direction=left][data-pushbar-id] {
        left: 0;
        transform: translateZ(0) translateX(-100%)
    }

    [data-pushbar-direction=right][data-pushbar-id] {
        right: 0;
        transform: translateZ(0) translateX(100%)
    }

    [data-pushbar-direction=top][data-pushbar-id] {
        top: 0;
        transform: translateZ(0) translateY(-100%)
    }

    [data-pushbar-direction=bottom][data-pushbar-id] {
        bottom: 0;
        transform: translateZ(0) translateY(100%)
    }

    [data-pushbar-id].opened {
        display: block;
        transform: translateX(0px) translateY(0px);
        box-shadow: 0px 0px 10px 0px rgb(0 0 0/10%)
    }
}

@media screen and (min-width: 200px) and (max-width:800px) {

    [data-pushbar-direction=right][data-pushbar-id],
    [data-pushbar-direction=left][data-pushbar-id] {
        top: 0;
        width: 90%;
        max-width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box
    }

    [data-pushbar-direction=left][data-pushbar-id] {
        padding: 0
    }
}

@media screen and (min-width: 801px) and (max-width:1080px) {

    [data-pushbar-direction=right][data-pushbar-id],
    [data-pushbar-direction=left][data-pushbar-id] {
        top: 0;
        width: 60%;
        max-width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box
    }
}

html.pushbar_locked {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none
}

.pushbar_locked .pushbar_main_content.pushbar_blur {
    filter: blur(15px)
}

.pushbar_overlay {
    z-index: -999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: opacity;
    transition: opacity .5s ease;
    opacity: 0;
    background: rgba(247, 240, 229, .8)
}

html.pushbar_locked .pushbar_overlay {
    opacity: .7;
    z-index: 4
}

[data-pushbar-id=right_dialog] {
    z-index: 1000;
    position: fixed;
    overflow-y: auto;
    will-change: transform;
    transition: transform .5s ease;
    background: #fff
}

aside.right_dialog,
[data-pushbar-direction=left][data-pushbar-id] {
    z-index: 1000;
    position: fixed;
    overflow-y: auto;
    will-change: transform;
    transition: transform .5s ease;
    background: #fff;
    height: 100%
}

[data-pushbar-direction=right_dialog][data-pushbar-id] {
    top: 0;
    width: 300px;
    max-width: 100%;
    height: 100%
}

[data-pushbar-direction=top][data-pushbar-id],
[data-pushbar-direction=bottom][data-pushbar-id] {
    left: 0;
    width: 100%;
    min-height: 150px
}

[data-pushbar-direction=left][data-pushbar-id] {
    left: 0;
    transform: translateZ(0) translateX(-100%)
}

[data-pushbar-direction=left][data-pushbar-id] {
    left: 0;
    transform: translateZ(0) translateX(-100%)
}

[data-pushbar-direction=right_dialog][data-pushbar-id] {
    right: 0;
    transform: translateZ(0) translateX(100%)
}

[data-pushbar-direction=top][data-pushbar-id] {
    top: 0;
    transform: translateZ(0) translateY(-100%)
}

[data-pushbar-direction=bottom][data-pushbar-id] {
    bottom: 0;
    transform: translateZ(0) translateY(100%)
}

[data-pushbar-id].opened {
    display: block;
    transform: translateX(0px) translateY(0px);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0/10%)
}

[data-pushbar-direction=left][data-pushbar-id] {
    left: 0;
    transform: translateZ(0) translateX(-100%)
}

[data-pushbar-direction=left][data-pushbar-id].opened {
    left: 0;
    transform: translateZ(0) translateX(0);
    padding: 0
}

[data-pushbar-direction=right_dialog][data-pushbar-id],
[data-pushbar-direction=left][data-pushbar-id] {
    top: 0;
    width: 900px;
    max-width: 50%;
    height: 100%;
    box-sizing: border-box;
    min-width: 25%
}

[data-pushbar-direction=left][data-pushbar-id] {
    width: auto
}

.nav-sections-item-content aside {
    display: block
}

@media screen and (max-width: 1080px) {

    [data-pushbar-direction=right_dialog][data-pushbar-id],
    [data-pushbar-direction=left][data-pushbar-id] {
        max-width: 80%
    }
}

@media screen and (max-width: 767px) {

    [data-pushbar-direction=right_dialog][data-pushbar-id],
    [data-pushbar-direction=left][data-pushbar-id] {
        max-width: 100%
    }
}

.dialog_product_blog .close_dialog {
    text-align: end;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 99;
    padding: 24px 20px 20px;
    cursor: pointer;
}

.block.block-minicart {
    display: block !important;
    position: static !important;
}



.minicart-wrapper .block-minicart {
    padding: 0 !important;
}

.minicart-wrapper .dialog_product_blog .dialog_inner {
    padding: 0 5% 50px;
}

.minicart-wrapper .dialog_product_blog .dialog_inner .dialog_top_cnt {
    padding-bottom: 0;
    position: sticky;
    top: 14px;
    z-index: 100;
    max-width: calc(100% - 80px);
}

.block-minicart .dialog_top_cnt .primary_title {
    font-size: 30px;
    line-height: 42px;
    color: #2c2c2c;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 500;
    padding-bottom: 50px;
    text-transform: capitalize;
}

.dialog_top_cnt {
    display: flex;
    align-items: flex-end;
    gap: 6px;
}

.dialog_top_cnt .primary_title {
    padding: 0px !important;
}

.dialog_top_cnt .subtotal {
    display: flex;
    align-items: center;
    gap: 6px;
    /* margin: 0 !important; */
}

.block-minicart .amount .price-wrapper:first-child .price {
    font-size: 17px;
    color: #c5203c;
    font-weight: 500;
}

.minicart-wrapper .block-minicart {
    border: none !important;
    box-shadow: none !important;
}

.minicart-items-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
    border: none !important;
}

.block-minicart .product {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px !important;
}

.minicart-items .product-item {
    padding: 0 !important;
}

.minicart-items .product .product-image-container {
    width: 100% !important;
    padding: 0;
    background-color: #fffbf3;
    max-height: 153px;
}

.minicart-items .product-item-details {
    padding: 20px 0 0 0 !important;
}

.block-minicart .product .product-item-details {
    margin-left: 40px;
    flex: 1;
}

.minicart-items .product-item-name {
    font-weight: 600 !important;
    margin: 0 !important;
}

.minicart-items .product-item-name a {
    color: #313131;
}

.block-minicart .product .product-item-details .price-container .price {
    font-size: 18px;
    font-weight: 600;
    color: #121212;
}

.block-minicart .product-item-pricing {
    display: flex;
    flex-direction: column-reverse;
}

.details-qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 !important;
}

.block-minicart .product .product-item-details .details-qty .primary_text {
    font-size: 16px;
    line-height: 26px;
    color: #4c4c4c;
    padding: 0 !important;
}

.block-minicart .details-qty .primary_cta {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    border: 1px solid #be1238;
    padding: 0px !important;
    box-sizing: border-box;
    color: #be1238;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    min-width: 10em;
    text-align: center;
    transition: .3s ease-in;
}

.details-qty .quantity .button {
    background-color: transparent;
    color: #454545;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: auto;
    text-align: center;
    transition: background-color .2s;
    display: inline-block;
    padding: 0;
}

.quantity .input-box {
    text-align: center;
    border: 0;
    border-inline: 1px solid #be1238 !important;
    padding: 0px !important;
    font-size: 18px;
    line-height: 26px;
    outline: none;
    background: 0 0;
    width: 85px;
    appearance: none;
    -moz-appearance: textfield;
}

.block-minicart .actions button {
    font-size: 16px !important;
    line-height: 26px !important;
    font-weight: 400 !important;
    border: 1px solid #be1238;
    padding: 10px 15px !important;
    box-sizing: border-box;
    color: #fff;
    background: #be1238;
    text-transform: uppercase;
    letter-spacing: .6px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    min-width: 10em;
    text-align: center;
    transition: .3s ease-in;
}

.block-minicart .actions button{
    background: #be1238 !important;
}

.block-minicart .actions a.viewcart {
        color: #be1238;
        font-size: 15px;
}