.product_category.bg_category {
    background-color: #f9f9f9;
}

.main_container {
    max-width: 1600px;
    margin: auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.product_category .list_block {
    display: flex;
    scrollbar-width: none;
    justify-content: flex-start;
    padding: 7px 0;
    overflow-x: auto;
    gap: 23px;
    white-space: nowrap;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.product_category .list_block .list_item {
    text-align: left;
    margin: 0px !important;
}

.product_category .list_block .nav_item {
    color: #636363;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
    display: block;
    cursor: pointer;
}

.bdcrum {
    background-color: #F7F1E5;
    padding-block: 3px;
}

.bdcrum .bdcrum_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-wrap: nowrap;
    justify-content: unset;
}

.bdcrum .bdcrum_list .bdcrum_item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.bdcrum .bdcrum_list .bdcrum_link {
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    text-transform: capitalize;
    color: #AC8342;
    padding: 0px 0px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}