.product_category.bg_category {
    background-color: #f9f9f9;
}

.main_container {
    max-width: 1600px;
    margin: auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.product_category .list_block {
    display: flex;
    scrollbar-width: none;
    justify-content: flex-start;
    padding: 7px 0;
    overflow-x: auto;
    gap: 23px;
    white-space: nowrap;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.product_category .list_block .list_item {
    text-align: left;
    margin: 0px !important;
}

.product_category .list_block .nav_item {
    color: #636363;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
    display: block;
    cursor: pointer;
}

.bdcrum {
    background-color: #F7F1E5;
    padding-block: 3px;
}

.bdcrum .bdcrum_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-wrap: nowrap;
    justify-content: unset;
}

.bdcrum .bdcrum_list .bdcrum_item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.bdcrum .bdcrum_list .bdcrum_link {
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    text-transform: capitalize;
    color: #AC8342;
    padding: 0px 0px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.page-title {
    width: 100%;
    margin-top: 1.5rem;
}

.page-title span {
    display: block;
    width: 100%;
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: center;
    color: #1b1b1b;
    text-transform: uppercase;
    letter-spacing: 5.72px;
}

.grid_3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    grid-row-gap: 35px;
    grid-column-gap: 35px;
}

.products-grid .product-items {
    letter-spacing: normal;
}

.sub_cat_spacing {
    padding-top: 40px;
    margin-top: 0;
}

.product-item {
    width: 100% !important;
    margin: 0;
}

.product_card {
    border: 1.5px solid transparent !important;
    transition: 0.3s all ease-in;
    padding: 5px !important;
}

.product_card:hover {
    border: 1.5px solid #A26301 !important;
}

.product_card .product-item-info {
    width: 100% !important;
}

.product_card .product-item-info:hover {
    border: none;
    background: transparent !important;
    box-shadow: none !important;
    position: static !important;
    padding: 0;
    margin: 0;
}

.product_card .product-item-info .product-image-container {
    width: 100% !important;
    display: inline-block;
    height: 300px;
}

.product_card .product-item-info .product-image-container .product-image-wrapper {
    position: relative;
}

.product_card .product-item-info .product-image-container .product-image-photo {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.products-grid .product-item-name {
    margin: 0 !important;
    display: block;
    hyphens: auto;
    word-wrap: break-word;
}

.product_card .product_title {
    font-size: 24px !important;
    text-align: center;
    line-height: 34px !important;
    color: #313131;
    margin-bottom: 14px !important;
    display: block;
    font-weight: 700 !important;
    display: -webkit-box;
    transition: .3s all ease-in;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
}

.product_card .primary_text p {
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    color: #313131;
    transition: .3s all ease-in;
    font-size: 15px;
    font-weight: 400;

    display: none;
}

.product_card .card_data .img_cnt {
    padding: 20px 40px 0;
}

.product_card .cnt_block .secondary_title {
    text-align: center;
}

.product_card .cnt_block .price {
    font-size: 20px !important;
    line-height: 30px !important;
    color: #070707 !important;
    font-weight: 500 !important;
}

.product-item-inner {
    display: block !important;
    position: static !important;
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: auto !important;
    width: 100% !important;
}

.product_card .cnt_block .product_cta {
    display: block !important;
    padding-top: 16px !important;
    transition: all .6s ease;
}

.product_cta .actions-primary{
    width: 100% !important;
}

.product_cta .actions-primary .cart_form{
    width: 100% !important;
    text-align: center;
}


.product_card .cnt_block .product_cta .primary_cta {
    min-width: 200px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 50px;
    color: #fff;
    background-color: #be1238;
    border: 1px solid;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
}