.main_container ul.items {
    padding-block: 6px;
    display: flex;
    align-items: center;
    gap: 0px;
    flex-wrap: nowrap;
}

.page_bdcrum {
    background-color: #F7F1E5;
    padding-block: 3px;
}

.breadcrumbs .item:not(:last-child) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    text-decoration: none;
}

.breadcrumbs .items>li {
    display: inline-block;
    vertical-align: top;
    text-transform: capitalize;
    color: #ac8342;
}

.breadcrumbs .items>li a,
.breadcrumbs .items>li strong {
    text-transform: capitalize;
    color: #ac8342;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

.product_category.bg_category {
    background-color: #f9f9f9;
}


.product_category .list_block {
    display: flex;
    scrollbar-width: none;
    justify-content: flex-start;
    padding: 7px 0;
    overflow-x: auto;
    gap: 23px;
    white-space: nowrap;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.product_category .list_block .list_item {
    text-align: left;
    margin: 0px !important;
}

.product_category .list_block .nav_item {
    color: #636363;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
    display: block;
    cursor: pointer;
}

.page-main {
    padding: 20px 0;
}

.product-info-main .page-title {
    text-align: left;
    color: #313131;
    font-size: 30px;
    letter-spacing: .5px;
    padding-bottom: 2px;
    text-transform: uppercase;
}

.product-info-main .product-reviews-summary {
    float: none;
}

.product_description {
    margin: 0px;
    border-top: 1px solid #f3dfbe;
    margin-bottom: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

.product-info-price {
    border-bottom: 1px solid #f3dfbe !important;
    margin-bottom: 0px !important;
}

.product-info-price .price {
    color: #1e1e1e !important;
    font-size: 20px !important;
    line-height: 30px !important;
    font-weight: 500 !important;
}

.product-add-form .primary_cta {
    min-width: 200px;
    width: fit-content !important;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 50px;
    color: #fff;
    background-color: #be1238;
    border: 1px solid;
    text-transform: uppercase;
    margin: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px !important;
}

.product-add-form .primary_cta span {
    font-size: 16px !important;
    letter-spacing: 1px;
}

#reviews {
    max-width: 1600px;
    margin: auto;
    padding: 0 30px;
    box-sizing: border-box;
}

#reviews .product-section-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #2c2c2c;
    text-align: left;
    letter-spacing: 2px;
    padding: 0 0 10px 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #f3dfbe;
}

.product.media .fotorama__stage {
    height: 400px !important;
}

.review-add .review-legend {
    display: flex;
    align-items: center;
    gap: 6px;
}

.review-add fieldset label {
    font-size: 18px;
    line-height: 28px;
    color: #313131;
    font-weight: 400 !important;
    padding-bottom: 8px;
    margin-bottom: 0 !important;
}

.review-add fieldset input,
.review-add fieldset textarea {
    padding: 0 20px;
    border: 1px solid #d1d1d1 !important;
    background-color: rgba(246, 246, 246, .5);
    min-height: 58px;
    box-sizing: border-box;
    outline: unset;
    width: 100%;
    font-family: 'poppins', sans-serif;
    color: #8c8c8c;
}

.review-add fieldset textarea {
    padding: 10px 20px;
    border: 1px solid #d1d1d1 !important;
    background-color: rgba(246, 246, 246, .5);
    min-height: 78px;
    box-sizing: border-box;
    outline: unset;
    width: 100%;
    font-family: 'poppins', sans-serif;
    color: #8c8c8c;
}

.review-add .fieldset.additional_info {
    margin: 0px;
}

.review-add .actions-primary button {
    font-size: 18px !important;
    line-height: 26px !important;
    font-weight: 400 !important;
    border: 1px solid #be1238 !important;
    padding: 10px 15px !important;
    box-sizing: border-box;
    color: #be1238 !important;
    background-color: transparent !important;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    min-width: 10em;
    text-align: center;
    transition: .3s ease-in;
}

.review-add .actions-primary button:hover {
    background: #be1238 !important;
    color: #f0f0f0 !important;

}

.product-reviews-summary .reviews-actions .action.add {
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #3c3c3c;
    white-space: nowrap;
}

aside.right_dialog {
    z-index: 1000;
    position: fixed;
    overflow-y: auto;
    will-change: transform;
    transition: transform .5s ease;
    background: #fff;
    height: 100%;
}

.dilog_product_blog.bg_white {
    background-color: #fff;
}

.dilog_product_blog .close_dilog {
    text-align: end;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 99;
    padding: 24px 20px 20px;
    cursor: pointer;
}

.dilog_product_blog .close_dilog .primary_text {
    color: #696969;
}

.dilog_product_blog .dialog_inner {
    padding: 0 5% 50px;
}

.fields_2_columns {
    display: flex;
    gap: 20px;
}

.fields_2_columns > div{
    flex: 1;
}

#review-form{
    max-width: 100% !important;
}